@model DataTable;
@using System.Data;

<section>
    <span><h3>OrderDetail List</h3></span>
    @if (TempData["Success"] != null)
    { 
       <div class="alert alert-success text-success">
            @TempData["Success"]
        </div> 
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger text-danger">
            @TempData["ErrorMessage"]
        </div>
    }
    <div class="float-end">
        <a class="btn btn-primary mb-3" asp-controller="OrderDetail" asp-action="OrderDetailAddEdit">Add OrderDetail</a>
        <a class="btn btn-info mb-3" asp-controller="ExportToExcel" asp-action="ExportToExcel" asp-route-table="OrderDetail"><i class="bi bi-filetype-xlsx"></i>Export</a>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                @* <th scope="col">OrderDetailID</th> *@
                <th scope="col">Order Number</th> 
                <th scope="col">Product Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Amount</th>
                <th scope="col">Total Amount</th>
                <th scope="col">User Name</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow dr in Model.Rows)
            {
                <tr>
                    @* <td scope="col">@dr["OrderDetailID"]</td> *@
                    <td scope="col">@dr["OrderNumber"]</td>
                    <td scope="col">@dr["ProductName"]</td>
                    <td scope="col">@dr["Quantity"]</td>
                    <td scope="col" style="text-align:end; padding-right:15px">@dr["Amount"]</td>
                    <td scope="col" style="text-align:end; padding-right:15px">@dr["TotalAmount"]</td>
                    <td scope="col">@dr["UserName"]</td>

                    <td>
                        <a class="btn btn-outline-success" asp-controller="OrderDetail"
                           asp-action="OrderDetailAddEdit" asp-route-OrderDetailID="@dr["OrderDetailID"]">
                            <i class="bi bi-pen-fill"></i>
                        </a>
                    </td>
                    <td>
                        <form method="post" asp-controller="OrderDetail" asp-action="OrderDetailDelete">
                            <input type="hidden" name="OrderDetailID" value="@dr["OrderDetailID"]" />
                            <button type="submit" class="btn btn-outline-danger btn-xs"
                                    onclick="return confirm('Sure!! Are you want to delete @dr["OrderDetailID"]')">
                                <i class="bi bi-x"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</section>
