@model DataTable;
@using System.Data;

<section>
    <span><h3>Bills List</h3></span>
    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success text-success">
            @TempData["Success"]
        </div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger text-danger">
            @TempData["ErrorMessage"]
        </div>
    }
    <div class="float-end">
        <a class="btn btn-primary mb-3" asp-controller="Bills" asp-action="BillAddEdit">Add Bill</a>
        <a class="btn btn-info mb-3" asp-controller="ExportToExcel" asp-action="ExportToExcel" asp-route-table="Bill"><i class="bi bi-filetype-xlsx"></i>Export</a>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                @* <th scope="col">BillID</th> *@
                <th scope="col">Bill Number</th>
                <th scope="col">Bill Date</th>
                <th scope="col">Order Number</th>
                <th scope="col">Total Amount</th>
                <th scope="col">Discount</th>
                <th scope="col">Net Amount</th>
                <th scope="col">User Name</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow dr in Model.Rows)
            {
                <tr>
                    @* <td scope="col">@dr["BillID"]</td> *@
                    <td scope="col">@dr["BillNumber"]</td>
                    <td scope="col">@dr["BillDate"]</td>
                    <td scope="col">@dr["OrderNumber"]</td>
                    <td scope="col" style="text-align:end; padding-right:15px">@dr["TotalAmount"]</td>
                    <td scope="col" style="text-align:end; padding-right:15px">@dr["Discount"]</td>
                    <td scope="col" style="text-align:end; padding-right:15px">@dr["NetAmount"]</td>
                    <td scope="col">@dr["UserName"]</td>

                    <td>
                        <a class="btn btn-outline-success" asp-controller="Bills" asp-action="BillAddEdit"
                           asp-route-BillID="@dr["BillID"]">
                            <i class="bi bi-pen-fill"></i>
                        </a>
                    </td>
                    <td>
                        <form method="post" asp-controller="Bills" asp-action="BillDelete">
                            <input type="hidden" name="BillID" value="@dr["BillID"]" />
                            <button type="submit" class="btn btn-outline-danger btn-xs"
                                    onclick=" return confirm('Sure!! Are you want to delete @dr["BillNumber"]')">
                                <i class="bi bi-x"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</section>
