@model DataTable;
@using System.Data;

<section>
    <span><h3>Customer List</h3></span>
    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success text-success">
            @TempData["Success"]
        </div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger text-danger">
            @TempData["ErrorMessage"]
        </div>
    }
    <div class="float-end">
        <a class="btn btn-primary mb-3" asp-controller="Customer" asp-action="CustomerAddEdit">Add Customer</a>
        <a class="btn btn-info mb-3" asp-controller="ExportToExcel" asp-action="ExportToExcel" asp-route-table="Customer"><i class="bi bi-filetype-xlsx"></i>Export</a>
    </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th colspan="2">Actions</th>
                    @* <th scope="col">CustomerID</th> *@
                    <th scope="col">Customer Name</th>
                    <th scope="col">Home Address</th>
                    <th scope="col">Email</th>
                    <th scope="col">Mobile No</th>
                    <th scope="col">GST NO</th>
                    <th scope="col">City Name</th>
                    <th scope="col">PinCode</th>
                    <th scope="col">Net Amount</th>
                    <th scope="col">User Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow dr in Model.Rows)
                {
                    <tr>
                        <td>
                            <a class="btn btn-outline-success" asp-controller="Customer" asp-action="CustomerAddEdit" asp-route-CustomerID="@dr["CustomerID"]">
                                <i class="bi bi-pen-fill"></i>
                            </a>
                        </td>
                        <td>
                            <form method="post" asp-controller="Customer" asp-action="CustomerDelete">
                                <input type="hidden" name="CustomerID" value="@dr["CustomerID"]" />
                                <button type="submit" class="btn btn-outline-danger btn-xs" onclick=" return confirm('Sure!! Are you want to delete @dr["CustomerName"]')">
                                    <i class="bi bi-x"></i>
                                </button>
                            </form>
                        </td>
                        @* <td scope="col">@dr["CustomerID"]</td> *@
                        <td scope="col">@dr["CustomerName"]</td>
                        <td scope="col">@dr["HomeAddress"]</td>
                        <td scope="col">@dr["Email"]</td>
                        <td scope="col">@dr["MobileNo"]</td>
                        <td scope="col">@dr["GSTNO"]</td>
                        <td scope="col">@dr["CityName"]</td>
                        <td scope="col">@dr["PinCode"]</td>
                        <td scope="col" style="text-align:end; padding-right:15px">@dr["NetAmount"]</td>
                        <td scope="col">@dr["UserName"]</td>

                    </tr>
                }
            </tbody>

            </table>

</section>
